#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Parent container to hold both .logo and .nav-links */
.header-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Ensures space between logo and nav-links */
  align-items: center; /* Vertically aligns logo and nav-links */
  padding: 1em; /* Optional padding */
  width: 100%;
}

/* Logo styling */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Vertically center the logo */
  padding: 0.5em;
  /* Adjust logo size and other styles here */
}

.d-flex {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.d-flex:hover {
  border-color: limegreen;
}

.search-input {
  width: 300px;  /* Adjust this value to your preferred width */
}


/* Navigation links styling */
.nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Vertically center the nav items */
  gap: 1em; /* Space between links */
  padding: 0.5em;
  /* Adjust any other styles here */
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.card:hover {
  background-color: #1a1a1a;
}

.read-the-docs {
  color: #888;
}

.greetings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.previous-btn-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.next-btn-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.main-image-container {
  width: 350px;
  height: 250px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
}

.navigation-btn {
  width: 80px;
  height: 80px;
  color: limegreen;
  margin: 10px;
}

.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 10px;
}




